<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        *{
            margin: auto 0;
            padding: auto 0;
        }
        body{
            width:200px;
            height:200px;
            background-image:url(../static/images/01.jpg);
            background-repeat:no-repeat;
            background-position:center center;  /*x轴 y轴*/
{#            background-origin: content-box;#}
           /* background:#f1f1f1 url(image/youhua6.jpg)  no-repeat 20px 20px;*/
        }
    </style>
</head>
<body>

</body>
</html>