<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
	{% load staticfiles %}
	<title>python小博客项目演示</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <header id="header">
        <div class="logo"><a href="/">Brooks Blog</a></div>
        <div class="interduce">互联网的运营笔记！</div>
        <nav>
            <ul>
                <li><a href="/blog/">首页</a></li>
                <li><a href="/blog/yunying/">运营</a></li>
                <li><a href="/blog/kandian/">看点</a></li>
                <li><a href="/blog/tuijian/">推荐</a></li>
            </ul>
        </nav>
    </header>