<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .bbn{
            background: rgb(187,182,6);
            width: 400px;
            height: 400px;
        }

    </style>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(function(){
            $('#thisdiv').addClass('bbn')
        })
    </script>
</head>
<body>
    <div id="thisdiv" >

    </div>
</body>
</html>