<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>初项目</title>
    <style>

    </style>
</head>
<body><ul type="A">

    <li>
        <p> <center>
        <ul type="1">
        <li>
       子承大帅哥.妈妈美女.爸爸坏蛋</li><br/><li>子承大帅哥.妈妈美女.爸爸坏蛋</li></ul>
        </center>
        </P>

    <li><p><pre>子承大帅哥.妈妈美女.爸爸坏蛋       子承大帅哥.妈妈美女.爸爸坏蛋</pre></p></li>
<li><p>子承大帅哥.妈妈美女.爸爸坏蛋子承大帅哥.妈妈美女.子承大帅哥.妈妈美女.爸爸坏蛋爸爸坏蛋</p></li>
<li><p>子承大帅哥.妈妈美女.爸爸坏蛋子承大帅哥.妈妈美女.爸爸坏蛋</p></li>
</ul>
</body>
</html>