{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title></title>
    <script type="text/javascript" src="{% static 'js/sources/jscharts.js' %}"></script>

</head>
<body>
{#    <div id="chartcontainer">This is just a replacement in case Javascript is notavailable or used for SEO purposes</div>#}
    <div id="chartcontainer">正在生产图表...</div>
    <script type="text/javascript">
        var myData = new Array([10, 20], [15, 10], [20, 30], [25, 10], [30, 5]);
        var myChart = new JSChart('chartcontainer', 'line');
        myChart.setDataArray(myData);
        myChart.draw();

{#    var myData = new Array(['unit', 20], ['unit two', 10], ['unit three', 30],#}
{#    ['other unit', 10], ['last unit', 30]);#}
{#    var myChart = new JSChart('chartcontainer', 'line');#}
{#    myChart.setDataArray(myData);#}
{#    myChart.draw();#}

    </script>
</body>
</html>