<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Just Believe</title>
<!--// Stylesheets //-->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/color.css" rel="stylesheet" type="text/css" />
<link href="css/fullcalendar.css" rel="stylesheet" type="text/css" />
<!--[if IE 8 ]><link href="css/iefix.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--// Javascripts //-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/animatedcollapse.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="js/fullcalendar.min.js"></script>
<script type="text/javascript" src="js/gcal.js"></script>
<script type="text/javascript" src="js/jquery.infinite-carousel.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="js/ev-tabs.js"></script>
</head>

<body>
<!-- Top Bar Start -->
<div id="top-bar">
	<div class="inner">
    	<!-- Top Bar Posts Start -->
    	<div class="small-posts">
        	<p>Mauris iaculis risus quis mauris vulputate at condimentum massa luctus. <a href="#">Keep Reading</a></p>
        </div>
        <!-- Top Bar Posts End -->
        <!-- Top Links Start -->
        <div class="toplinks">
        	<a href="javascript:animatedcollapse.toggle('loginbox')" class="loginbtn">Login Now</a>
            <!-- Login Box Start -->
            <div id="loginbox">
            	<h3 class="upper">User Login</h3>
                <ul>
                	<li class="name"><input type="text" value="User Name" class="bar" /></li>
                    <li class="password"><input type="password" value="Password" class="bar" /></li>
                </ul>
                <div class="btns-sec">
                	<button class="backcolr dark">Submit</button>
                    <p>Need an Account? <a href="#">Sign Up</a></p>
                </div>
            </div>
            <!-- Login Box End -->
            <!-- Top Links Start -->
            <ul class="top-links">
            	<li><a href="#">Calender</a></li>
                <li><a href="#">Sermons</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Map/Directions</a></li>
                <li><a href="#">Giving</a></li>
            </ul>
            <!-- Top Links End -->
        </div>
        <!-- Top Links End -->
        <div class="clear"></div>
    </div>
</div>
<!-- Top Bar End -->
<!-- Header Start -->
<div id="header">
	<div class="inner">
    	<!-- Top Header Section Start -->
        <div class="top-head">
        	<!-- Logo Start -->
        	<div class="logo">
            	<a href="index.html"><img src="images/logo.png" alt="" /></a>
            </div>
            <!-- Logo End -->
            <!-- Right Section Start -->
            <div class="right-sec">
            	<!-- Search Start -->
            	<div class="search">
                	<h5>Search Now</h5>
                    <ul>
                    	<li><input type="text" class="bar" /></li>
                        <li><input type="button" class="go backcolr" value="Go" /></li>
                    </ul>
                </div>
                <!-- Search End -->
                <!-- Services Start -->
                <div class="service-sec">
                	<h5>Sunday Services</h5>
                    <h5>@ 9:30 &amp; 11:00 am</h5>
                    <p>1521 Hurt Rd, Marietta GA 30008</p>
                </div>
                <!-- Services End -->
            </div>
            <!-- Right Section End -->
        	<div class="clear"></div>
        </div>
        <!-- Top Header Section End -->
        <div class="clear"></div>
        <!-- Navigation Start -->
        <div class="navigation bordercolr">
        	<div id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                	<li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="current-menu-item"><a href="events.html">Events</a></li>
                    <li><a href="sermons.html">Sermons</a></li>
                    <li><a href="#">Gallery</a>
                    	<ul class="backcolr">
                        	<li><a href="portfolio.html">Gallery - Grid</a></li>
                            <li><a href="portfolio-slideshow.html">Gallery - SlideShow</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Drop Down</a>
                    	<ul class="backcolr">
                        	<li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Get connected</a>
                            	<ul>
                                	<li><a href="#">Get involved</a></li>
                                    <li><a href="#">Coming up</a></li>
                                    <li><a href="#">Media</a></li>
                                    <li><a href="#">Gospel</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Get involved</a></li>
                            <li><a href="#">Coming up</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Gospel</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pages</a>
                    	<ul class="backcolr">
                        	<li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="sermons.html">Sermons</a></li>
                            <li><a href="#">Gallery</a>
                            	<ul>
                                	<li><a href="portfolio.html">Gallery - Grid</a></li>
                                    <li><a href="portfolio-slideshow.html">Gallery - SlideShow</a></li>
                                </ul>	
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <!-- Navigation End -->
        <div class="clear"></div>
        <!-- Bread Crumb Start -->
        <div class="breadcrumb">
        	<ul>
            	<li><a href="#">Home</a></li>
                <li><a href="#">Latest Blogs</a></li>
                <li><a href="#">June 2012</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Bread Crumb End -->
        <!-- Page Heading Section Start -->
        <div align=center>
<div style=“width:960px; margin:0 auto; height:90px;”>
<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '730419',
        container: s,
        size: '960,90',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/os.js"></script>
</div>
</div>
        <div class="pageheading">
        	<div class="textsec">
                <h1 class="colr">Events</h1>
                <p class="black">(08 Events)</p>
            </div>
            <div class="social">
            	<ul>
                	<li><h2 class="colr">Join Us</h2></li>
                    <li><a href="#" class="tweet-icon">&nbsp;</a></li>
                    <li><a href="#" class="fb-icon">&nbsp;</a></li>
                    <li><a href="#" class="vimeo-icon">&nbsp;</a></li>
                    <li><a href="#" class="lastfm-icon">&nbsp;</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Page Heading Section End -->
        <div class="clear"></div>
    </div>
</div>
<!-- Header End -->
<!-- Content Section Start -->
<div id="contentsec">
	<div class="inner">
        <!-- Full Width Section Start -->
        <div class="fullwidth box rightbar">
            <!-- Two Third Section Start -->
            <div class="twothird left">
            	<!-- Two Third Section Start -->
                <div class="twothird left">
                    <!-- Event List Start -->
                    <div class="events-list">
                    	<!-- Event Tabs Section Start -->
                        <div class="events-tabs">
                        	<!-- Event Tabs Start -->
                        	<div class="tab_menu_container">
                                <ul id="eve_menu">
                                    <!-- Event Stream Start -->
                                    <li>
                                    	<a id="listbtn" class="" rel="listview">
                                        	<span class="ev-cal">&nbsp;</span>
                                            <span>Event Listing</span>
                                        </a>
                                    </li>
                                    <!-- Event Stream Close -->
                                    <!-- Event Calendar Start -->
                                    <li>
                                    	<a id="calendarbtn" class="" rel="calendarview">
                                        	<span class="list">&nbsp;</span>
                                            <span>Event Calender</span>
                                        </a>
                                    </li>
                                    <!-- Event Calendar End -->
                                    <!-- Event Map Start -->
                                    <li>
                                    	<a id="venu-map" class="" rel="venumap">
                                        	<span class="evmap">&nbsp;</span>
                                            <span>Events Map</span>
                                        </a>
                                    </li>
                                    <!-- Event Calendar End -->
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <!-- Event Tabs End -->
                            <div class="tab_container">
                                <div class="tab_container_in">
                                    <!-- Events Listing View Start -->
                                    <div id="listview" class="listview tablist">
                                        <!-- Month Heading Start -->
                                        <div class="eve-month">
                                        	<h4 class="colr">May 2012</h4>
                                            <p>4 Events</p>
                                        </div>
                                        <!-- Month Heading Start -->
                                        <!-- Event Section Start -->
                                        <div class="event-set">
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location1')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location1" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location1')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location2')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location2" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location2')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location3')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location3" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location3')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location4')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location4" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location4')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                        </div>
                                        <!-- Event Section End -->
                                        <!-- Month Heading Start -->
                                        <div class="eve-month">
                                        	<h4 class="colr">May 2012</h4>
                                            <p>4 Events</p>
                                        </div>
                                        <!-- Month Heading Start -->
                                        <!-- Event Section Start -->
                                        <div class="event-set">
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location5')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location5" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location5')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location6')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location6" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location6')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location7')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location7" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location7')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                            <!-- Event Single Date Start -->
                                            <div class="single-event">
                                                <div class="eve-date">
                                                    <h1>26</h1>
                                                    <h5>MAY<br />2012</h5>
                                                </div>
                                                <div class="eve-desc">
                                                    <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                                                    <p class="time">08:30am – 11:00am</p>
                                                    <p class="venu"><a href="javascript:animatedcollapse.toggle('location8')">Conference Center Auditorium</a></p>
                                                </div>
                                                <div id="location8" class="venu-map">
                                                    <span class="pointer">&nbsp;</span>
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                                    <div class="venu-text">
                                                        <h5 class="colr">About Event</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                                                        </p>
                                                    </div>
                                                    <div class="location-opts">
                                                        <a href="#" class="buttontwo">View on Calender</a>
                                                        <a href="#" class="fb-likes"><img src="images/fb-like.gif" alt="" /></a>
                                                        <a href="javascript:animatedcollapse.hide('location8')" class="close">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event Single Date End -->
                                        </div>
                                        <!-- Event Section End -->
                                        <!-- Pagination Start -->
                                        <div class="pagination">
                                            <ul>
                                                <li><a href="#">Previous</a></li>
                                                <li><a href="#" class="active">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li>...</li>
                                                <li><a href="#">25</a></li>
                                                <li><a href="#">26</a></li>
                                                <li><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                        <!-- Pagination End -->
                                    </div>
                                    <!-- Events Listing View End -->
                                    <!-- Events Calendar View Start -->
                                    <div id="calendarview" class="calendarview tablist">
                                        <div id="calendar"></div>
                                    </div>
                                    <!-- Events Calendar View End -->
                                    <!-- Events Calendar View Start -->
                                    <div id="venumap" class="tablist">
                                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.507335,-0.127683&amp;spn=0.004735,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                    </div>
                                    <!-- Events Calendar View End -->
                                    <div class="clear"></div>                                
                                </div>
                            </div>
                        </div>
                        <!-- Event Tabs Section End -->
                    </div>
                    <!-- Event List End -->
                </div>
            </div>
            <!-- Two Third Section End -->
            <!-- One Third Section Start -->
            <div class="onethird right">
                <!-- One Third Box Start -->
                <div class="onethird box left">
                    <!-- Recent Posts Widget Start -->
                    <div style=“width:250px; margin:0 auto; height:250px;”>
<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '730423',
        container: s,
        size: '250,250',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/os.js"></script>
</div>
                    <div class="widget recent-post">
                        <h3 class="heading colr">Recent Posts</h3>
                        <p class="black bold">Donec ut nibh tellus. Proin erat urna, luctuseg ementum at, facilisis sed nunc.</p>
                        <ul>
                        	<li><a href="#">Aenean commodo dolor at sapien luctus</a></li>
                            <li><a href="#">Sapien luctus non venenatis</a></li>
                            <li><a href="#">Aenean commodo dolor at sapien luctus</a></li>
                            <li><a href="#">Sapien luctus non venenatis</a></li>
                            <li><a href="#">Aenean commodo dolor at sapien luctus</a></li>
                            <li><a href="#">Sapien luctus non venenatis</a></li>
                        </ul>
                        <div style=“width:300px; margin:0 auto; height:250px”>
<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '864895',
        container: s,
        size: '300,250',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/os.js"></script>
</div>
                    </div>
                    <!-- Recent Posts Widget End -->
                </div>
                <!-- One Third Box End -->
                <!-- One Third Box Start -->
                <div class="onethird box left">
                    <!-- Image Gallery Widget Start -->
                    <div class="widget image-gallery">
                    	<h3 class="heading colr">Tab Widget</h3>
                        <ul>
                            <li><a href="#"><img src="images/flickr1.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr2.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr3.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr4.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr5.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr6.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr7.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr8.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr9.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr10.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr11.gif" alt="" /></a></li>
                            <li><a href="#"><img src="images/flickr12.gif" alt="" /></a></li>
                        </ul>
                        <a href="#" class="buttonone backcolr">View Gallery</a>
                    </div>
                    <!-- Image Gallery Widget Start -->
            	</div>
                <!-- One Third Box End -->
            </div>
            <!-- One Third Section End -->
            <div class="clear"></div>
        </div>
        <!-- Full Width Section Start -->
    </div>
</div>
<!-- Content Section End -->
<!-- Scroller Section Start -->
<div id="scroller-sec">
	<div class="inner">
    	<div class="scroll-sec">
        	<a id="logoPrevious">Previous</a>
            <div id="logoscroll" class="scroller">
            	<ul>
                	<li><a href="#"><img src="images/logo1.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo2.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo3.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo4.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo5.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo1.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo2.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo1.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo2.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo3.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo4.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo5.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo1.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/logo2.gif" alt="" /></a></li>
                </ul>
            </div>
            <a id="logoNext">Next</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Scroller Section End -->
<!-- Footer Start -->
<div id="footer">
	<div class="inner">
    	<!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Text Widget Start -->
        	<div class="widget text-widget">
            	<a href="#"><img src="images/logo-foot.png" alt="" /></a>
                <br />
                <br />
                <p>
                	P.O Box 1234<br />
                    Your City, City Name and Code 12345<br />
                    (800) 12-34567 | Fax: (123) 345-6789<br />
                    Email: <a href="mailto:email@yourcompany.com">Email@yourcompany.com</a><br />
                </p>
            </div>
            <!-- Text Widget End -->
            <!-- Social Network Start -->
            <div class="widget social-network">
            	<h5 class="white">Follow Us</h5>
                <ul>
                	<li><a href="#"><img src="images/tweeter-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="images/vimeo-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="images/lastfm-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="images/myspace-icon.png" alt="" /></a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- Social Network End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Blog Roll Start -->
        	<div class="widget blogroll">
            	<h4 class="white">Blog Roll</h4>
                <ul>
                	<li><a href="#">Child Protection<span>(65)</span></a></li>
                    <li><a href="#">Monthly Sermons Sets<span>(13)</span></a></li>
                    <li><a href="#">Weekly Service<span>(05)</span></a></li>
                    <li><a href="#">About Pastor<span>(02)</span></a></li>
                    <li><a href="#">Blog Admin<span>(01)</span></a></li>
                    <li><a href="#">Videos<span>(12)</span></a></li>
                </ul>
            </div>
            <!-- Blog Roll End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Latest Tweets Start -->
        	<div class="widget latest-tweets">
            	<h4 class="white">Latest Tweets</h4>
                <div class="tweet">
                	<a href="#">@tamasgergocs</a> Thanks for posting the photo, Tamás! Let us know what you think about the book's content! Let us know what you think about the book #smbook
31 day ago
                </div>
                <a href="#" class="follow-tweet">Follow Us On Twitter</a>
            </div>
            <!-- Latest Tweets End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Contact Form Start -->
        	<div class="widget contact-form">
	            <h4 class="white">Latest Tweets</h4>
            	<ul>
                	<li><input type="text" class="bar" value="Name" /></li>
                    <li><input type="text" class="bar" value="Email" /></li>
                    <li><textarea rows="" cols="">Message</textarea></li>
                    <li><button class="backcolr">Submit</button></li>
                </ul>
            </div>
            <!-- Contact Form End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <div class="clear"></div>
    </div>
    <!-- Copyrights Start -->
    <div class="copyrights">
    	<div class="inner">
        	<!-- Copyrights Text Start -->
        	<p>&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.huiyi8.com/moban/">网页模板</a></p>
            <!-- Copyrights Text End -->
            <!-- Go To Top Start -->
            <a href="#top" class="top">Back to top</a>
            <!-- Go To Top Start -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- Copyrights End -->
</div>
<!-- Footer End -->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>