<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML作业</title>
    <link href="../static/css.css" >

    <style>
        #id_div{
            margin: 5px;
            padding: 5px;
            border: solid 3px yellow;
        }
        .t_div_cls{
            border: solid 3px red;
            text-align: center;
        }

        div{
            margin: 5px;
            padding: 10px;
            border: solid 3px blue;
        }

    </style>
</head>
<body>
 <div id="id_div"  class="t_div_cls" style="border: solid 3px greenyellow">
     欢迎使用HTML!
 </div>

 <dl>
     <dt>HTML标题</dt>
     <dd>HTML内容</dd>
 </dl>
 <ul>
     <li>HTML内容</li>
     <li>HTML内容</li>
 </ul>


<!--<p>This is some text in a very short paragraph</p>
<img src="/static/images/register_logo.gif" alt="logo">
<hr/> -->
<div>

</div>
</body>
</html>