{% extends 'depot/base.html' %}
{% block title %}测试ModelForm{% endblock %}
{% block create_pro %}
    <form method="post" action="/text/modelsform/">{% csrf_token %}
        <table>
            <tr><td><lable for='id_title'>标题:</lable></td><td>{{ form.title }}</td><td>{{ form.title.errors }}</td></tr>
            <tr><td><lable for='id_description'>描述:</lable></td><td>{{ form.description }}</td><td>{{ form.description.errors }}</td></tr>
            <tr><td><lable for='id_photo'>图片文件:</lable></td><td>{{ form.photo }}</td><td>{{ form.photo.errors }}</td></tr>
            <tr><td><lable for='id_price'>价格:</lable></td><td>{{ form.price }}</td><td>{{ form.price.errors }}</td></tr>
            <tr><td><input type="submit" value="注册" /></td><td><input type="reset" value="重置"/></td><td></td></tr>
        </table>
    </form>
{% endblock %}
