{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>产品展示页面</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}" />
    <style type="text/css">
        .out_div{width: 760px;height:350px;overflow-x: auto;overflow-y: hidden;}
        .in_div{width: 200px;height: 100px;float: left; margin: 15px;}
    </style>
</head>
<p>欢迎你: {{ user }},<a href="/cart/logout/">退出</a>|<a href="/cart/findcart/"><img src="{% static 'img/cart.jpg' %}" style="width: 25px;height: 15px"/>购物车</a></p>

<div style="border: 1px ;margin:0 auto" class="out_div">
    {% for book in books %}
     <div class="in_div">
          <img src="/static/img/{{ book.book_path }}"  id = '{{  book.book_path }}' width="120" height="60"/><br/>
          书名:<span>{{ book.book_name }}</span><br/>
          作者:<span>{{ book.authors}}</span><br/>
          <a href="#" id="{{ book.book_name }}" onclick="addcart(id)" style="font-size: 10px">加入购物车</a>
     </div>
    {% endfor %}
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js">
</script>
<script>
     function addcart(id){
        book_name=id
         alert(id);
            $.ajax({
                url:'/cart/addcart/',
                dataType :'json',
                type:'POST',
                data:{
                    bookname:book_name
                },
                success: bug
           })
       function bug(data){
         if (data){
             alert('加入购物车成功!')
         }else{
             alert('加入失败,或已经加入!')
         }
     }
     }
</script>
</html>