{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/show_techer.css' %}"/>
    <script language="JavaScript" src="{% static 'js/show_techer.js' %}"></script>
    <title></title>
</head>
<body>
    <table>
    {% for techer in techers %}
        <tr>
            <td class="techer_clsss" colspan="all">{{ techer.name }} &nbsp;老师：</td>
        </tr>
        <tr>
            {% for stu in techer.student_set.all %}
            <td>{{ stu.name }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>