<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>登陆</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <p>邮箱：<input type="email" name="email" value="{{ email }}"></p>
        <p>密码：<input type="password" name="password" value="{{ password }}"></p>
        <input type="submit" value="登陆">
    </form>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{% url 'register' %}">还没有账号？立马注册</a></p>
    <p><a href="{% url 'password_reset' %}">忘记密码</a>
</body>
</html>