<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
</head>
<body>
<table>
    <tr>
        <td>编号</td>
        <td>书名</td>
        <td>数量</td>
        <td>单价</td>
        <td>合计</td>
        <td>操作</td>
    </tr>
    {% for cart in carts %}
    <tr>
        <td>{{cart.id}}</td>
        <td>{{cart.books.book_name}}</td>
        <td><input type="text" value="{{cart.qty}}" id="thisqty{{cart.id}}" width="20" height="20"/></td>
        <td>{{cart.books.book_price}}</td>
        <td>{%  widthratio cart.qty 1  cart.books.book_price  %}</td>
        <td><a href="javascript:void(0)" id="{{cart.id}}" onclick="modify(id)">修改</a>
            || <a href="javascript:void(0)"  onclick="delcart({{cart.id}})">删除</a></td></tr>
    {% endfor %}
</table>
</body>
<script  src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   function modify(id){
        $.post("/cart/"+id+"/cartupdate/",{qty:$("#thisqty"+id).val()},function(data){
            if(data){
                alert('修改成功!')
                window.location.reload();
            }else{
                alert('修改失败!')
            }
        })
   }

   function delcart(id){
        $.ajax({
        url:"/cart/"+id+"/cartdel",
        type:'POST',
        datatype:'',
        success:function(data){
           if(data){
                alert('删除成功!')
            }else{
                alert('删除失败!')
            }
        }
        })
   }
</script>
</html>