<!DOCTYPE html>
<html>
  <head>
    <title>show_book.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  <body>
     {% for book in books %}
      <div>
      <h3>{{book.name}}</h3>
		{% for author in book.authors.all %} <!-- 遍历author对象里面的作者,通过作者找出书  -->
		 <li>{{ author }}</li>
		{% endfor %}
      </div>
     {% endfor %}
  </body>
</html>
