<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><h1>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link href="{% static "style.css" %}" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
      <div id="menu">
          <h1><a href="#">hello,<img src="/site_media/images/logo.gif" width="121" height="22" alt="Books Online" /></a></h1>
          <ul id="navblue">
		{% for key,value in user.items  %}
              <li><a href="#">{{key}}:{{value}}</a></li>
		{% endfor %}
              <li><a href="#"></a></li>
			  
              <li><a href="#">{{today}}</a></li>
              <li><a href="#">{{user.say}}</a></li>
          </ul>
      </div><!-- end menu -->
      <div id="header">
          <ul id="navtop">
              <li><a href="#">Kids</a></li>
              <li><a href="#">Adults</a></li>
              <li><a href="#">Science</a></li>
              <li><a href="#">Commerce</a></li>
              <li><a href="#">Literature</a></li>
          </ul>
          <h2><img src="images/title_explore.gif" width="185" height="20" alt="explore your knowledge" /></h2>
          <ul id="explore">
              <li><a href="#">get online tutorials</a></li>
              <li><a href="#">books for all age</a></li>
              <li><a href="#">grab the  encyclopedia</a></li>
          </ul>
          <div id="books"></div>
          <div id="girl"></div>
      </div><!-- end header -->
      <div class="divider"></div>
      <div id="searchbar">
          <form action="/" method="get">
              Title: <input name="title" type="text" value="" class="text" /> &nbsp;
              Author: <input name="author" type="text" value="" class="text" /> &nbsp;
              <input type="submit" value="Go" class="submit" />
          </form>
      </div><!-- end searchbar -->
      
      <div id="orangerow">
          
          <div class="nav">
              <h2 id="categories">Categories</h2>
              <ul>
                  <li><a href="#">Biography</a></li>
                  <li><a href="#">Children's</a></li>
                  <li><a href="#">Crime &amp; Thrillers</a></li>
                  <li><a href="#">Food &amp; Drink</a></li>
                  <li><a href="#">General Fiction</a></li>
                  <li><a href="#">Health</a></li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Home &amp; Garden</a></li>
                  <li><a href="#">Science</a></li>
                  <li><a href="#">Romantic Fiction</a></li>
                  <li><a href="#">SF &amp; Fantasy</a></li>
                  <li><a href="#">Sport</a></li>
                  <li><a href="#">Entertainment</a></li>
              </ul>
          </div><!-- end .nav -->
          
          <div class="col">
              <div id="authormonth">
                  <h2><img src="images/title_author_of_the_month.gif" width="137" height="15" alt="author of the month" /></h2>
                  <p>Don't forgot to check <a href="#">free website templates</a> every day, because we add at least one free website template daily.</p>
				
			
                  <img src="images/picture_1.gif" width="71" height="122" alt="Woman reading a book" class="left" />
                 	<p>This is a template designed by free website templates for you for free you can replace all the text by your own 
				text. This is just a place holder so you can see how the site would look like.</p> 
				
			
                  <p class="readmore"><a href="#">read more</a></p>
              </div><!-- end authormonth -->
              <div id="bookmonth">
                  <h2><img src="images/title_book_of_the_month.gif" width="125" height="15" alt="book of the month" /></h2>
                  <img src="images/picture_3.gif" width="50" height="91" alt="dog books" class="left" />
                	<p>You can remove any link to our websites from this template you're  free to use the template without linking 
				back to us. Don't want your boss to know you used a free website template ;) .</p>
				
				<p>If you're having problems editing the template please don't hesitate to ask for help on the <a href="#">forum</a>.</p>
				
				
                  <p class="readmore"><a href="#">read more</a></p>
              </div><!-- end bookmonth -->
          </div><!-- end .col -->
          <div id="whitey"></div>
          <div class="clear"><div class="fix"></div></div>
      </div><!-- end orangerow -->
      
      <div id="greenrow">
          
          <div class="nav">
              <h2 id="discounts">Discounts On</h2>
              <ul>
                  <li><a href="#">Arts and Crafts</a></li>
                  <li><a href="#">Biography</a></li>
                  <li><a href="#">Books on TV</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Children</a></li>
                  <li><a href="#">Computer Books</a></li>
                  <li><a href="#">Cookery</a></li>
                  <li><a href="#">Crime</a></li>
                  <li><a href="#">Dictionaries</a></li>
                  <li><a href="#">Languages</a></li>
              </ul>
          </div><!-- end .nav -->
          
          <div class="col">
              <h2><img src="images/title_book_review.gif" width="94" height="18" alt="book review" /></h2>
              <img src="images/picture_2.gif" width="50" height="80" alt="Psycho book cover" class="left" />
            <p>If you're looking for beautiful and professionally made templates you can find them at <a href="#">Template Beauty</a>.</p>
				<p>To find great hosting providers visit <a href="#">Web Hosting Zoom</a></p>
              <p class="readmore"><a href="#">read more</a></p>
                    
              <div class="divider"></div>
          
              <h2><img src="images/title_books_to_come.gif" width="101" height="14" alt="books to come" /></h2>
              <table summary="book list" class="books" cellspacing="4" cellpadding="0">
                  <tr>
                      <td><a href="#">Ghosts of darkness</a></td>
                      <td><a href="#">Fifteen</a></td>
                  </tr>
                  <tr>
                      <td><a href="#">New age</a></td>   
                      <td><a href="#">Quick fox</a></td>
                  </tr>
                  <tr>
                      <td><a href="#">Disgrace</a></td>
                      <td><a href="#">Unveil</a></td>
                  </tr>
              </table>
             <p>If you're looking for beautiful and professionally made templates you can find them at <a href="#">Template Beauty</a>.</p>
          </div>
          <div class="clear"></div>
      </div><!-- end greenrow -->
      
      <div id="footer">
          <div id="footeri">
              <span class="copyright">Powered by <a href="#">Free Website Templates</a></span> 
              <a href="#">bestsellers</a> &nbsp;
              <a href="#">magazines</a> &nbsp;
              <a href="#">e-books</a> &nbsp;
              <a href="#">contact</a> &nbsp;
          </div><!-- end footeri -->
      </div><!-- end footer -->
  </div><!-- end wrapper -->
</body>
</html>
