<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action=".">
{#        <table>#}
{#            <tr>#}
{#                <td>用户名称:</td>#}
{#                <td><input type="text" placeholder="请输入用户名"/></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>用户密码:</td>#}
{#                <td><input type="password" /></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2"><input type="submit" value="提交"/></td>#}
{#            </tr>#}
{#        </table>#}
        {{ lfrom.as_p }}
        <input type="submit" value="提交"/>
    </form>
</body>
</html>